In [15]:
# importing libraries and packages
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data 
tweets_list_22 = []
tweets_list_21 = []
tweets_list_20 = []
tweets_list_19 = []

#Setting search words that relates to tweets about veganism 
key= ['#vegan', '#meatreduction','#plant based']

# Using TwitterSearchScraper to scrape data and append tweets to list
for keyword in key:
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper
                             (f'{keyword} lang:en since:2022-01-01 until:2022-07-20')
                             .get_items()): #declaring the search word, language of tweet and 
                                            #the year 2022 for which tweets are extracted
        if i>15000: #setting number of tweets to scrape
            break
        tweets_list_22.append([tweet.date, tweet.id, 
                             tweet.content, tweet.user.username, 
                             tweet.coordinates]) #declare the attributes to be returned
        
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper
                             (f'{keyword} lang:en since:2021-01-01 until:2021-12-31')
                             .get_items()): #declaring the search word, language of tweet and 
                                            #the year 2021 for which tweets are extracted
        if i>15000: #setting number of tweets to scrape
            break
        tweets_list_21.append([tweet.date, tweet.id, 
                             tweet.content, tweet.user.username, 
                             tweet.coordinates]) #declare the attributes to be returned
        
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper
                             (f'{keyword} lang:en since:2020-01-01 until:2020-12-31')
                             .get_items()): #declaring the search word, language of tweet and 
                                            #the year 2020 for which tweets are extracted
        if i>15000: #setting number of tweets to scrape
            break
        tweets_list_20.append([tweet.date, tweet.id, 
                             tweet.content, tweet.user.username, 
                             tweet.coordinates]) #declare the attributes to be returned
    
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper
                             (f'{keyword} lang:en since:2019-01-01 until:2019-12-31')
                             .get_items()): #declaring the search word, language of tweet and 
                                            #the year 2019 for which tweets are extracted
        if i>15000: #setting number of tweets to scrape
            break
        tweets_list_19.append([tweet.date, tweet.id, 
                             tweet.content, tweet.user.username, 
                             tweet.coordinates]) #declare the attributes to be returned
        
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list_22, columns=['Datetime', 'Tweet Id', 'Text', 'Username','Location'])
tweets_df2 = pd.DataFrame(tweets_list_21, columns=['Datetime', 'Tweet Id', 'Text', 'Username','Location'])
tweets_df3 = pd.DataFrame(tweets_list_20, columns=['Datetime', 'Tweet Id', 'Text', 'Username','Location'])
tweets_df4 = pd.DataFrame(tweets_list_19, columns=['Datetime', 'Tweet Id', 'Text', 'Username','Location'])

In [16]:
tweets= pd.concat([tweets_df1, tweets_df2, tweets_df3, tweets_df4], axis=0)

In [17]:
# Saving Data frame to a csv file

tweets.to_csv('vegan_years.csv')

In [18]:
#Reading csv file to analyse the vegan trend in twitter

pd.read_csv('vegan_years.csv')

,Unnamed: 0,Datetime,Tweet Id,Text,Username,Location
0,0,2022-07-19 23:58:23+00:00,1549544209450905600,Soup proof. The wife says it’s too much black ...,TechdommeWifey,"Coordinates(longitude=-118.668404, latitude=33..."
1,1,2022-07-19 23:56:31+00:00,1549543739642765314,Nursing moms will appreciate this! Soothe pain...,crazyoilladies,NaN
2,2,2022-07-19 23:55:52+00:00,1549543576953950209,Veganism should now be accepted as either a re...,chillangelino,NaN
3,3,2022-07-19 23:55:23+00:00,1549543455218606080,Our signature White Musk® is the scent of a ge...,DelightsInspire,NaN
4,4,2022-07-19 23:53:32+00:00,1549542989160009729,The most powerful Republican congressman from ...,TheGayVegans,NaN
...,...,...,...,...,...,...
68131,17377,2019-01-01 10:53:33+00:00,1080054413161582592,1/2 New Year’s Wish: what if #plant #meetings ...,CG_ath,NaN
68132,17378,2019-01-01 07:02:07+00:00,1079996174269104128,Best #plant-based foods: high in #protein: htt...,Seattle_Diners,NaN
68133,17379,2019-01-01 07:01:20+00:00,1079995976050507777,Best #plant-based foods: high in #protein: htt...,OrganicLiveFood,NaN
68134,17380,2019-01-01 01:48:36+00:00,1079917274507681792,1/6 #WFPB #Vegan #Carnivore #Keto #LCHF #Veget...,DrHorwitz,NaN
68135,17381,2019-01-01 01:35:52+00:00,1079914070755561472,Jill Nussinow’s Smoky-Sweet Black-Eyed Peas an...,theveggiequeen,NaN